@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@1,300&display=swap');

:root{
    --corfundo: #becbe4;
    --cor0: #8d8d8d;
    --cor1: #004FE0;
    --cor2: #003DAD;
    --cor3: #1D3561;
    --cor4: #002261;

    --font-padrao: 'Poppins', sans-serif;
    --font-destaque: 'Bebas Neue', cursive;

}

body{
    background-color: var(--cor0);
    font: normal 15pt Arial;
    
    
}

*{
    margin: 0px;
    padding: 0px;
}

h1{
    font-family: var(--font-destaque);
    font-weight: bolder;
}

h2{
    font-family: var(--font-destaque);
    font-weight: lighter;
    color: var(--cor4);
}

p{
    font-family: var(--font-padrao);
    font-weight: 500;
}

strong{
    color: red;
}

a{
    text-decoration: none;
    color: var(--cor1);
}

a:hover{
    text-decoration: underline;
    color: white;
}

header{
    text-align: center;
    color: white;
    background-image: linear-gradient(to bottom, rgb(2, 2, 61), var(--cor4));
    padding-bottom: 30px;
    box-shadow: 0px 10px 34px rgba(0, 0, 0, 0.459);
    

}

header h1{
    padding: 55px 20px 0px 20px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.582);
}

header p{
    padding: 40px;
    
}

main{
    text-align: justify;
    background-color: var(--corfundo);
    margin: auto;
    max-width: 1000px;
    min-width: 200px;
    padding: 0.5px 30px 20px 30px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: -4px -3px 28px rgba(0, 0, 0, 0.692);
}

main aside{
    padding: 14px 0px 30px 0px;
}

article#calculador{
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
    max-width: 500px;
    min-width: 200px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(36, 35, 35);
    padding: 15px 10px 1px 10px;
    
}

article#calculador >p{
    text-align: justify;
    padding: 10px 10px 15px 22px;
}

article#ex h2{
    text-align: justify;
    padding: 35px 10px 15px 0px;
}

article#ex p{
    
    text-indent: 50px;
    text-align: justify;
}

article#ex p#form{
    text-align: center;
    text-indent: 0px;
}

input{
    width: 50px;
    position: relative;
    left: 5px;
    
}

article#calculador > input#gerar{
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:5px 5px 5px 5px;
    margin-top: 10px;
    
    
    
   
}

p#botao{
    text-indent: 0%;
    padding: 10px 10px 10px 10px;
}

div#respos{
    display: block;
    background-color: rgb(0, 226, 0);
    border-radius: 5px;
    box-shadow: 5px 6px 15px #000000ad;
    max-width: 380px;
    margin-left:auto;
    margin-right: auto; 
    margin-bottom: 15px;
    margin-top: 15px;
    
    
    
}

div#resneg{
    background-color: red;
    border-radius: 5px;
    box-shadow: 5px 6px 15px #000000ad;
    max-width: 380px;
    margin-left:auto;
    margin-right: auto; 
    margin-bottom: 15px;
    margin-top: 15px;
    border: 10px;
    
}

footer{
    text-align: center;
    color: rgb(158, 158, 158);
    
}
