body{
    background-color: rgb(79, 80, 80);
    font: normal 15pt Arial;
    
    
}

header{
    text-align: center;
    color: white;
}


section{
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin:auto;
    box-shadow: 5px 5px 10px rgb(36, 35, 35);
    
}

input{
    width: 50px;
    position: relative;
    left: 5px;
}

div#respos{
    background-color: rgb(0, 226, 0);
    width: 500px;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
}

div#resneg{
    background-color: red;
    width: 500px;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
}

footer{
    text-align: center;
    color: rgb(158, 158, 158);
    
}